* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  background-color: rgba(99, 214, 101, 0.7);
}

.container {
  width: 60%;
  max-width: 30rem;
  min-width: 17rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .title {
  text-align: center;
}

.container .form {
  background-color: #fff;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  /* overflow: hidden; */
}

.form input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.btn {
  border-radius: 3px;
  padding: 0.5rem;
  background-color: darkblue;
  color: #fff;
  cursor: pointer;
  border: none;
}

.lists .todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.todo span {
  cursor: pointer;
}

[data-deleteAll] {
  margin-top: 0.7rem;
  width: 30%;
}

.none {
  display: none;
}
